<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <title>Reservas</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg" style="background-color: #283618;">
            <div class="container">
              <div class="collapse navbar-collapse" id="navbarButtonsExample" >

                <div class="flex-shrink-0 me-4">
                  <% if (profile) { %>
                    <img src="data:image/png;base64, <%= profile %>"
                    class="img-fluid rounded-circle border border-white border-3"
                    style="width: 50px;">
                  <% } else {%>
                    <img src="/Photos/default_profile.png"
                    class="img-fluid rounded-circle border border-white border-3"
                    style="width: 50px;">
                  <% } %>
                </div>
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                  <li class="nav-item me-4">
                    <a class="nav-link text-white" href="/">Hoteles</a>
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link text-white" href="/clients/deal_list">Ofertas</a>
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link text-white fw-bold" href="/clients/my_bookings">Mis reservas</a>
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link text-white" href="/clients/favorite_hotels">Hoteles favoritos</a>
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link text-white" href="/my_account/my_profile_1">Mi perfil</a>
                  </li>
                </ul>
                
                <form method="POST" action="/logout">
                  <div class="d-flex align-items-center">
                    <button type="submit" class="btn me-3" style="background-color: #dda15e;">Cerrar sesión</button>
                  </div>
                </form>
              
              </div>
            </div>
        </nav>

        <section class="mb-4">
        </section>

    </body>
</html>