<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <title>Reserva</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg" style="background-color: #283618;">
            <div class="container">
              <div class="collapse navbar-collapse" id="navbarButtonsExample" >

                <div class="flex-shrink-0 me-4">
                  <% if (profile) { %>
                    <img src="data:image/png;base64, <%= profile %>"
                    class="img-fluid rounded-circle border border-white border-3"
                    style="width: 50px;">
                  <% } else {%>
                    <img src="/Photos/default_profile.png"
                    class="img-fluid rounded-circle border border-white border-3"
                    style="width: 50px;">
                  <% } %>
                </div>
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                  <li class="nav-item me-4">
                    <a class="nav-link text-white" href="/hotel_admins">Menú Principal</a>
                  </li>
                  <li class="nav-item me-4">
                    <a class="nav-link text-white" href="/my_account/my_profile_1">Mi perfil</a>
                  </li>
                </ul>
                
                <form method="POST" action="/logout">
                  <div class="d-flex align-items-center">
                    <button type="submit" class="btn me-3" style="background-color: #dda15e;">Cerrar sesión</button>
                  </div>
                </form>
              
              </div>
            </div>
        </nav>

        <!--------------------------------------------------------------------------------------------------------------------------->

        <section class="mb-2 mt-2">
          <div class="container">

            <a href="/hotel_admins/bookin_catalog" class="btn btn-light mt-0"><span class="bi bi-arrow-left"></span></a>

            <div class="d-flex align-items-center mb-4 pb-1">
              <span class="h2 fw-bold mb-0">Seleccione el usuario</span>
            </div>

            <div>
              <div class="row">

                <div class="col">

                  <div class="mb-4">

                    <span class="h5">Buscar por nombre de usuario</span>

                    <form onsubmit="javascript:search_by_username(event)">

                      <div class="form-outline mt-4 mb-2">
                        <input type="text" id="username" name="username" class="form-control" required/>
                        <label class="form-label">Nombre de usuario</label>
                      </div> 
  
                      <button type="submit" class="btn text-white" style="background-color: #606c38;">Buscar</button>
  
                    </form>
                  </div>

                  <div class="mb-4">

                    <span class="h5">Buscar por identificación</span>

                    <form onsubmit="javascript:search_by_id(event)">

                      <div class="form-outline mt-4 mb-4">
                        <input type="text" id="id_number" name="id_number" class="form-control" required/>
                        <label class="form-label">Número de identificación</label>
                      </div>
  
                      <div class="form-outline mb-4">
                        <select class="form-select" name="id_type_id" id="id_type_id" required>
                          <option value="">Tipo de identificación</option>
                          <% id_types.forEach( id_type => { %>
                            <option value="<%= id_type.id %>"><%= id_type.name %></option>
                          <% }) %>
                        </select>
                        <label class="form-label">Tipo de identificación</label>
                      </div>
  
                      <button type="submit" class="btn text-white" style="background-color: #606c38;">Buscar</button>
  
                    </form>
                  </div>

                </div>

                <div class="col">

                  <div class="mb-4">

                    <span class="h5">Buscar por email</span>

                    <form onsubmit="javascript:search_by_email(event)">

                      <div class="form-outline mt-4 mb-2">
                        <input type="text" id="email" name="email" class="form-control" required/>
                        <label class="form-label">Email del usuario</label>
                      </div> 
  
                      <button type="submit" class="btn text-white" style="background-color: #606c38;">Buscar</button>
  
                    </form>
                  </div>

                  <div class="mb-4">

                    <span class="h5">Confirmación del usuario</span>

                    <form onsubmit="javascript:register_booking(event)">

                      <div class="form-outline mt-4 mb-2">
                        <input type="text" id="user" name="user" class="form-control"  onkeydown="return false;" autocomplete="off" required/>
                        <label class="form-label">Usuario seleccionado</label>
                      </div> 

                      <div class="form-outline mt-4 mb-4">
                        <input type="text" id="name" name="name" class="form-control" readonly/>
                        <label class="form-label">Nombre del usuario</label>
                      </div>
  
                  </div>

                </div>

              </div>
            </div>

            <!-- Paso 2 ------------------------------------------------------------------------------------------------->
            <div>

              <div class="d-flex align-items-center mb-4 pb-1">
                <span class="h2 fw-bold mb-0">Seleccione las fechas de estadía</span>
              </div>
  
              <div>
                <div class="row">
                  <div class="col">

                    <div class="form-outline mb-4">
                      <input type="date" id="check_in" name="check_in" required class="form-control" />
                      <label class="form-label">Fecha de check-in</label>
                    </div>

                  </div>
                  <div class="col">

                    <div class="form-outline mb-4">
                      <input type="date" id="check_out" name="check_out" required class="form-control" />
                      <label class="form-label">Fecha de check-out</label>
                    </div>

                  </div>
                </div>
              </div>

            </div>

            <div class="mt-4">
              <button type="submit" class="btn text-white" style="background-color: #606c38;">Crear reserva</button>
            </div>
          </form>

                <!-- Pop ups de mensajes ----------------------------------------------------------------------->

                 <!-- Pop de mensage de éxito -->  
                 <div class="modal fade" id="success_alert_modal" tabindex="-1" aria-labelledby="success_alert_modal" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="alert alert-success alert-dismissible">
                          <p id="success_message"></p>
                          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                      </div>
                  </div>
               </div>

               <!-- Pop de mensage de error -->  
               <div class="modal fade" id="error_alert_modal" tabindex="-1" aria-labelledby="error_alert_modal" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="alert alert-danger alert-dismissible">
                          <p id="error_message"></p>
                          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                      </div>
                  </div>
               </div>

          </div>
        </section>

    </body>
    <script>

      // Función para rellenar los campos de confirmación
      function display_user_data(username, name){}

      // Envía una petición http al servidor y retorna la respuesta si hubo éxito
      function send_request(request_type, url, request_body){
            
            return new Promise(async (resolve, reject) => {

                const http = new XMLHttpRequest()
                
                http.onreadystatechange = function(){
                    
                    if (this.readyState == 4 && this.status == 200){
                        const response = JSON.parse(this.response)
                        return resolve(response)    
                    }
                }

                http.open(request_type, url)
                http.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
                http.send(JSON.stringify(request_body))
            })
        }

      // Función para buscar el usuario por nombre de usuario
      async function search_by_username(event){
        event.preventDefault()
        const username = document.getElementById("username").value
        const url = "http://localhost:4500/hotel_admins/get_person_by_username/" + username
        const response = await send_request("GET", url, {})

        if (response.error){
          show_response(response)
        } else {
          document.getElementById("user").value = response.user.username
          document.getElementById("name").value = response.user.name
        }
            
      }

      // Función para buscar el usuario por email 
      async function search_by_email(event){
        event.preventDefault()
        const email = document.getElementById("email").value
        const url = "http://localhost:4500/hotel_admins/get_person_by_email/" + email
        const response = await send_request("GET", url, {})

        if (response.error){
          show_response(response)
        } else {
          document.getElementById("user").value = response.user.username
          document.getElementById("name").value = response.user.name
        }
      }

      // Función para buscar el usuario por identificación
      async function search_by_id(event){
        event.preventDefault()
        const id_number = document.getElementById("id_number").value
        const id_type_id = document.getElementById("id_type_id").value
        const url = "http://localhost:4500/hotel_admins/get_person_by_id_number/" + id_number + "/" + id_type_id
        const response = await send_request("GET", url, {})

        if (response.error){
          show_response(response)
        } else {
          document.getElementById("user").value = response.user.username
          document.getElementById("name").value = response.user.name
        }
      }

      // Función para buscar el usuario por identificación
      async function register_booking(event){
        event.preventDefault()
        const username = document.getElementById("user").value
        const check_in = document.getElementById("check_in").value
        const check_out = document.getElementById("check_out").value
        const url = "http://localhost:4500/hotel_admins/register_booking"
        const response = await send_request("POST", url, {username: username, check_in: check_in, check_out: check_out})

        if (response.error){
          show_response(response)
        } else {
          location.replace("http://localhost:4500/hotel_admins/edit_bookin_rooms/" + response.booking_id)
        }
      }

      // Muestra el modal con la respuesta de una petición
      function show_response(response){
            
            if (!response.error){
                $('#registration_modal').modal('hide')
                $('#edition_modal').modal('hide')
            }

            if (response.error){
                document.getElementById("error_message").innerHTML = response.message
                $('#error_alert_modal').modal('show')
            } else {
                document.getElementById("success_message").innerHTML = response.message
                $('#success_alert_modal').modal('show')
            }
        }

        $('#success_alert_modal').on('hidden.bs.modal', function () {
            location.reload()
        })

        // Configuración de selectores de fechas
        const current_date = new Date()
        current_date.setDate(current_date.getDate())
        check_in.min = current_date.toISOString().split("T")[0]
        check_out.min = current_date.toISOString().split("T")[0]

        $('#check_in').change(function config_check_out_selector() {
          const start_date_selected = new Date((document.getElementById("check_in").value))
          start_date_selected.setDate(start_date_selected.getDate()+1)
          check_out.min = start_date_selected.toISOString().split("T")[0]
        })

        $('#check_out').change(function config_check_out_selector() {
          const ending_date_selected = new Date((document.getElementById("check_out").value))
          ending_date_selected.setDate(ending_date_selected.getDate()-1)
          check_in.max = ending_date_selected.toISOString().split("T")[0]
        })

    </script>
</html>